@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    /* background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  linear-gradient(#545cf754 1px, transparent 1px), linear-gradient(to right, #545cf754 1px, #e5e5f7 1px);
    background-size: 40px 40px; */
    background: radial-gradient(
    circle at top,
    #141A22,
    #0B0F14
    );
}

.card {
    width: 700px;
    height: 85vh;
    text-align: center;
    position: relative;
    background: #F9FAFB;
    box-shadow: 0 20px 40px rgba(0,0,0,0.35);
}
.card-header h2 {
    font-family: Lora;
    font-style: italic;
    font-size: 50px;
    font-weight: 600;
    margin: 0px;
    user-select: none;
}
#icon {
    /* width: 64px; */
    height: 100px;
    margin: 0px;
    padding: 0px;
    /* border: 1px solid; */
    
}
.subtitle {
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    opacity: 0.75;
}
hr {
  width: 65%;
  margin: 12px auto;
  opacity: 0.4;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-body form {
    width: 100%;
}
.navbar {
    border-top: 1px solid #7c7c7c4b;
}
.nav-item:hover {
    background-color: #ececec;
}
.card-footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.card-footer span {
    margin-bottom: 0px;
    padding: 4px 8px;
    display: inline-block;
}
/* .card-header p {
    border-top: 1px solid #7c7c7c;
} */
.row {
    margin: 15px 0px 15px 0px;
}
.col-10 input, #userLevel{
    font-size: 1.2rem;
    height: 50px;
}
nav div ul li:last-child:hover {
    background-color: transparent;
}
#login-button, #send-button, #register-link {
    width: 100%;
    font-size: 1.3rem;
}

#login-button, #showPassword, #send-button, #register-link {
    /*#20C997 */
    color: #20C997;
    border: 1px solid #20C997;
}
#login-button:hover, #showPassword:hover, #send-button:hover, #register-link:hover {
    color: #fff;
    border-color: #20C997;
    background-color: #20C997;
}
.active {
    font-weight: 600;
}
span {
    font-size: 0.8rem;
}