<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="../static/css/styles.css">
    <title>Aegis - Sistema Privado de Compartilhamento de Arquivos</title>
</head>
<body>
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="card w-80 w-sm-75 w-md-50 w-lg-25 text-center">
            <div class="card-header">
                <img src="../static/image/Icon2.png" alt="Aegis" id="icon">
                <h2>Aegis</h2>
                <hr>
                <p class="subtitle">Sistema Privado de Compartilhamento de Arquivos</p>
            </div>
            <div class="card-body">
                <form method="POST" action="../static/php/authentication.php">
                    <div class="rows">
                        <div class="row justify-content-center">
                            <div class="col-10 h-10">
                                <input type="text" id="username" name="username" class="form-control" placeholder="User" aria-label="User" required>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-10">
                                <div class="input-group mb-3">
                                    <input type="password" name="password" id="password" class="form-control" placeholder="Senha" aria-label="Senha" aria-describedby="showPassword">
                                    <button class="btn btn-outline-secondary" type="button" id="showPassword"><i class='fas fa-eye'></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-10 mb-2">
                                <button id="login-button" type="submit" class="btn btn-outline-primary">Login</button>
                            </div>
                            <div class="col-10">
                                <a href="userRegister.php" id="register-link" type="button" class="btn btn-outline-primary" onmouseover="this.innerHTML='Criar Conta'" onmouseout="this.innerHTML='Não Tem Conta?'">Não Tem Conta?</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer border-0">
            </div>
        </div>
    </div>


    <script src="https://kit.fontawesome.com/0635eb955e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/js/script.js"></script>
    <script>
        const params = new URLSearchParams(window.location.search);

        if (params.get('registered')) {
            Swal.fire({
                icon: 'success',
                title: 'Conta criada!',
                text: 'Agora você pode fazer login.'
            });
        }
    </script>
</body>
</html>